
body {
    margin: 0px;
    color: #434146;
    background-color: #3F346C;
    font-family: Roboto, sans-serif;
    width: 100%;
    height: 100%;
    border: none;
}

.hero-wrapper {
    font-family: Roboto, sans-serif;
    background-color:#3F346C;
    background-image: url("https://kastapp.co/images/gradient-violet-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    top: 300px;
    color: white;
    margin: 0px;
    width: 100%;
    height: 100%;
    border: none;
}

#hero-image {
    margin-top: 50px;
    position: relative;

}

.head-logo {
    padding: 8px 0px 10px 20px;
}


.top-nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:transparent;
    font-family: 'Roboto', sans-serif;
    height: 50px;
    padding-top: 9px;
    color: white;
    z-index: 1;
}

.top-nav-freeze{
    background-color:rgba(85, 121, 119, 0.55);
    margin: 0px;
}

nav{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 500;
    height: 60px;
    width: 645px;
    margin-left: 15px;
    padding-top: -3px;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

button.open-kast {
    font-family: roboto, sans-serif;
    background-color: transparent;
    position: relative;
    left: 25px;
    border: solid 1px white;
    text-transform:  uppercase;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
    padding-top: -3px;
    height: 25px;
    width: 104px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 1.5px;
    transition: all 300ms ease;

}

button.open-kast:hover {
    border: solid 1px blue;
}

h1 {
    font-family: Roboto, sans-serif;
    margin-bottom: 30px;
    margin-top: 25px;
    color:#FFFFFF;
    font-size: 48px;
    line-height: 54px;
    font-weight: 500;
    text-align: center;
}

h2 {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    line-height: 36px;
    margin-top:0px;
    margin-bottom: 50px;
    color: #434146;
    text-align: center;
    font-weight: 500;
}

h3 {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    line-height: 36px;
    margin-top: 20px;
}

h4 {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
}

h5 {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}

h6 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero {
    font-family: Roboto, sans-serif;
    text-align: center;
    color: white;
    padding: 50px;
}

.featured-in {
    background-color: white;
    color: #434146;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding-top: 110px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 70px;
    text-align: center;
}

.featured-in-logos {
    display: grid;
    max-width: 880px;
    margin-right: auto;
    margin-bottom: 62px;
    margin-left: auto;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 140px;
    grid-row-gap: 67px;
}

button.big-orange {
    background-color: #FE9000;
    border: none;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px 50px 10px 50px;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 2px;
    margin-bottom: 60px;
    width: 215px;
    height: 45px;
    font-weight: 700;

}

.hero-text {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 1.4;
    margin-right: auto;
    margin-left: auto;
    max-width: 560px;
    margin-bottom: 30px;
}
.hero-text-2 {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 1.4;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1px;
    max-width: 560px;
    margin-bottom: 30px;
}

.what-is-kast {
    background-image: url("https://kastapp.co/images/green-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 75px;
    padding-bottom: 120px;
    
}

p.what-is-kast-p {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 34px;
    margin-right: auto;
    margin-left: auto;
    max-width: 640px;
    margin-bottom: 10px;
}

p.quote {
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    margin-bottom: 8px;
    line-height: 1.8;
    letter-spacing: 1.5;
}

p#quote-attribute {
    font-family: Roboto, sans-serif;
    max-width: 1140px;
    text-align: right;
    margin-top: 6px;
    margin-bottom: 45px;
    font-style: italic;
}

.fa-angle-down {
    margin-left: 5px;
}
button.big-orange-2 {
    background-color: #FE9000;
    border: none;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px 50px 10px 50px;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 2px;
    margin-top: 20px;
    width: 215px;
    height: 45px;
    font-weight: 700;

}